.signup {
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;

  > main {
    width: 100%;
    min-height: 600px;
    max-width: 500px;
    padding: 2rem 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    @include baseShadow;
    @include flex(column, center, stretch);
    gap: 1rem;

    .row {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      width: 100%;

      > div {
        flex: 1;
        @include flex(column, flex-start, stretch, 0.5rem);

        > input {
          @include inputStyle;
          border: 1px solid rgba(162, 162, 162, 0.53);
          border-radius: 5px;
        }
      }

      @media (max-width: 600px) {
        flex-direction: column;
      }
    }

    > div {
      width: 100%;
      @include flex(column, flex-start, stretch, 0.5rem);

      > input {
        @include inputStyle;
        border: 1px solid rgba(162, 162, 162, 0.53);
        border-radius: 5px;
      }
    }

    .next-btn {
      width: 100%;
      height: 3rem;
      margin-top: 1rem;
      @include btn(unset, rgb(62, 125, 242), white);
      border-radius: 5px;
    }

    > video,
    > .preview {
      width: 100%;
      border-radius: 8px;
      border: 1px solid #ccc;
      object-fit: cover;
      transform: scaleX(-1);
    }

    .actions {
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;
      margin-top: 1rem;

      > button {
        // flex: 1;
        height: 3rem;
        margin-top: 1rem;
        @include btn(unset, rgb(62, 125, 242), white);
        border-radius: 5px;
      }
    }
  }

  .login-link {
    text-align: center;
    margin-top: 1.5rem;

    a {
      color: rgb(62, 125, 242);
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
